extends ../particles/base.jade

block content
  .container.container-first
    .row
      .col-md-9
        p.lead Физика
        h1 {{ chapter.name }} {{ chapter }}
        br
        p 46 часов
        p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
        a.btn.btn-lg.btn-default Я уже прошел данную тему
      .col-md-3
    br
    br
    br
    .row
      .col-md-9
        #accordion.panel-group(role="tablist" aria-multiselectable="true")
          .panel.panel-default
            #headingOne.panel-heading(role="tab")
              .row
                .col-sm-10.col-xs-9
                  h4.panel-title
                    a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                      |День 1. Тепловое движение. Температура.
                    |&nbsp;
                    small
                      a(href="") Начать
                .col-sm-2.col-xs-3.text-right
                  |35 мин.
            #collapseOne.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="headingOne")
              .list-group
                a.list-group-item.list-group-item-success(href="{% url 'paragraph' 1 %}") Тепловые процессы
                a.list-group-item(href="{% url 'paragraph' 1 %}") Температура
                a.list-group-item(href="{% url 'paragraph' 1 %}") Направление движения тепла
          .panel.panel-default
            #headingTwo.panel-heading(role="tab")
              .row
                .col-sm-10.col-xs-9
                  a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                    h4.panel-title
                      |День 2. Тепловое движение. Температура.
                      |&nbsp;
                      small
                        a(href="") Начать
                .col-sm-2.col-xs-3.text-right
                  |30 мин.
            #collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
              .list-group
                a.list-group-item(href="{% url 'paragraph' 1 %}") Тепловые процессы
                a.list-group-item(href="{% url 'paragraph' 1 %}") Температура
                a.list-group-item(href="{% url 'paragraph' 1 %}") Направление движения тепла