extends ../particles/base.jade

block content
  //- Content begin
  section#content
    .container
      .row
        .col-md-12.text-center
          h1 Stepee - best online education practices
          h2 With the fucking avesome LOLs
      .row
        .col-md-12
          h1 Доступные предметы
      .row
        .col-md-4.text-center
          .panel.panel-default
            .panel-body
              img(src="http://dummyimage.com/160x160", alt="")
              a(href="{% url 'subject' %}")
                h2 Физика
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nisi.
        .col-md-4.text-center
          .panel.panel-default
            .panel-body
              img(src="http://dummyimage.com/160x160", alt="")
              a(href="{% url 'subject' %}")
                h2 Физика
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nisi.
        .col-md-4.text-center
          .panel.panel-default
            .panel-body
              img(src="http://dummyimage.com/160x160", alt="")
              a(href="{% url 'subject' %}")
                h2 Физика
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nisi.
      .row
        .col-md-12
          h1 Почему Stepee?
        .col-md-3.text-center
          img(src="http://dummyimage.com/120x120", alt="")
          h2 100%
          h3 Сдают экзамены
        .col-md-3.text-center
          img(src="http://dummyimage.com/120x120", alt="")
          h2 100%
          h3 Сдают экзамены
        .col-md-3.text-center
          img(src="http://dummyimage.com/120x120", alt="")
          h2 100%
          h3 Сдают экзамены
        .col-md-3.text-center
          img(src="http://dummyimage.com/120x120", alt="")
          h2 100%
          h3 Сдают экзамены
      .row
        .col-md-12
          h1 Описание преимущества
          ul
            li
              img(src="http://dummyimage.com/40x40", alt="")
              p Lorem ipsum.
            li
              img(src="http://dummyimage.com/40x40", alt="")
              p Lorem ipsum.
            li
              img(src="http://dummyimage.com/40x40", alt="")
              p Lorem ipsum.
            li
              img(src="http://dummyimage.com/40x40", alt="")
              p Lorem ipsum.
      .row
        .col-md-12
          h1 Как это работает?
          .text-center
            img(src="http://dummyimage.com/1200x600", alt="", width="100%")
      .row
        .col-md-12
          h1 Отзывы
      .row
        .col-md-4.col-md-offset-1.text-center
          img(src="http://dummyimage.com/120x120", alt="")
          h2 Вася Пупкин
          p Екатеринбург
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ratione fuga, minus doloribus, culpa veritatis facilis earum qui illo quis praesentium, laudantium porro placeat, maiores!
        .col-md-4.col-md-offset-2.text-center
          img(src="http://dummyimage.com/120x120", alt="")
          h2 Вася Пупкин
          p Екатеринбург
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quos harum blanditiis error molestiae ipsum, provident est aliquid dignissimos, omnis ab rerum laborum non eligendi.
      .row
        .col-md-12.text-center
          .panel.panel-default
            .panel-body
              h1 Лозунг компании или призыв
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita est inventore dolor.
              a.btn.btn-primary(href="") Выбрать курс
  //- Content end