extends ../particles/base.jade

|{% load partitionutils %}

block content
  .container-fluid.container-first.bg-info
    .row
      .col-md-12.text-center
        br
        br
        h1 Stepee - best online education practices
        h2 With the fucking avesome LOLs
        br
        br
        br
        br
  .container
    |{% if joined_subjects %}
    .row
      .col-md-12
        h2.page-header Изучаемые предметы
    .row
      |{% for subject, status in joined_subjects.items %}
      .col-lg-3.col-md-4.col-sm-6.col-xs-6.text-center
        .panel.panel-default
          .panel-body
            img(src="http://dummyimage.com/460x160" width="100%")
            a(href="{% url 'subject' subject.id %}")
              h3 {{ subject.title }}
            p {{ subject.description }}
            p
              b Status: {{ status }}
      |{% endfor %}
    |{% endif %}

    .row
      .col-md-12
        h2.page-header Доступные предметы
    .row
      |{% for subject, status in other_subjects.items %}
      .col-lg-3.col-md-4.col-sm-6.col-xs-6.text-center
        .panel.panel-default
          .panel-body
            img(src="http://dummyimage.com/460x160" width="100%")
            a(href="{% url 'subject' subject.id %}")
              h3 {{ subject.title }}
            p {{ subject.description }}
            p
              b Status: {{ status }}
      |{% endfor %}
    .row
      .col-md-12
        h2.page-header Почему Stepee?
        br
    .row
      .col-xs-6.col-sm-3.col-md-3.text-center
        img(src="http://dummyimage.com/120x120", alt="")
        p.lead 100%
        p.lead Сдают экзамены
      .col-xs-6.col-sm-3.col-md-3.text-center
        img(src="http://dummyimage.com/120x120", alt="")
        p.lead 100%
        p.lead Сдают экзамены
      .col-xs-6.col-sm-3.col-md-3.text-center
        img(src="http://dummyimage.com/120x120", alt="")
        p.lead 100%
        p.lead Сдают экзамены
      .col-xs-6.col-sm-3.col-md-3.text-center
        img(src="http://dummyimage.com/120x120", alt="")
        p.lead 100%
        p.lead Сдают экзамены
    .row
      .col-md-12
        //#carousel.carousel.slide(data-ride="carousel")
        //  ol.carousel-indicators
        //    li.active(data-target="#carousel" data-slide-to="0")
        //    li(data-target="#carousel" data-slide-to="1")
        //    li(data-target="#carousel" data-slide-to="2")
        //  .carousel-inner(role="listbox")
        //    .item.active
        //      img(src="http://dummyimage.com/1000x500")
        //      .carousel-caption
        //        h1 Описание 1
        //    .item
        //      img(src="http://dummyimage.com/1000x500")
        //      .carousel-caption
        //        h1 Описание 2
        //    .item
        //      img(src="http://dummyimage.com/1000x500")
        //      .carousel-caption
        //        h1 Описание 3
        //  a.left.carousel-control(href="#carousel" role="button" data-slide="prev")
        //    span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        //  a.right.carousel-control(href="#carousel" role="button" data-slide="next")
        //    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")

        //h1 Описание преимущества
        //br
        //ul.list-unstyled
        //  li
        //    img(src="http://dummyimage.com/20x20", alt="")
        //    |&nbsp;Lorem ipsum.
        //    br
        //    br
        //  li
        //    img(src="http://dummyimage.com/20x20", alt="")
        //    |&nbsp;Lorem ipsum.
        //    br
        //    br
        //  li
        //    img(src="http://dummyimage.com/20x20", alt="")
        //    |&nbsp;Lorem ipsum.
        //    br
        //    br
        //  li
        //    img(src="http://dummyimage.com/20x20", alt="")
        //    |&nbsp;Lorem ipsum.
        //    br
        //    br
    .row
      .col-md-12
        h2.page-header Как это работает?
        .text-center
          img(src="http://dummyimage.com/1200x600", alt="", width="100%")
    .row
      .col-md-12
        h2.page-header Отзывы
    .row
      .col-sm-6.col-md-4.col-md-offset-1.text-center
        img(src="http://dummyimage.com/120x120", alt="")
        h3 Вася Пупкин
        p Екатеринбург
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ratione fuga, minus doloribus, culpa veritatis facilis earum qui illo quis praesentium, laudantium porro placeat, maiores!
      .col-sm-6.col-md-4.col-md-offset-2.text-center
        img(src="http://dummyimage.com/120x120", alt="")
        h3 Вася Пупкин
        p Екатеринбург
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quos harum blanditiis error molestiae ipsum, provident est aliquid dignissimos, omnis ab rerum laborum non eligendi.
    .row
      br
      br
  .container-fluid.bg-info
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          br
          .panel.panel-default
            .panel-body
              h2.h1 Лозунг компании или призыв
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita est inventore dolor.
              a.btn.btn-primary(href="") Выбрать курс
              br
              br