block footer
  //- Footer begin
  footer.footer
    .container
      .row
        .col-md-3
          br
          img(src="http://dummyimage.com/100x50", alt="")
          br
          br
          img(src="http://dummyimage.com/100x50", alt="")
          br
          br
          img(src="http://dummyimage.com/100x50", alt="")
        .col-md-3
          h2 Заголовок
          ul
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
        .col-md-3
          h2 Заголовок
          ul
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
        .col-md-3
          h2 Заголовок
          ul
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
      .row
        .col-md-4
          img(src="http://dummyimage.com/40x40", alt="")
          img(src="http://dummyimage.com/40x40", alt="")
          img(src="http://dummyimage.com/40x40", alt="")
          img(src="http://dummyimage.com/40x40", alt="")
          img(src="http://dummyimage.com/40x40", alt="")
        .col-md-8
          h2 +7 982 646 94 54
  //- Footer end